@charset "utf-8";

.a-btn {
    font-size: 1.15em;
    padding: 8px 12px;
    color: #d2d2d2;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    display: inline-block;
    background-color: inherit;
    line-height: 1.8;
    border: 1px solid #ebebeb;
    border-radius: 1px;
	
  
}
*[class*="a-btn"]:hover {
     color: white;
    background-color: LightSlateGray!important;

}
.a-btn.cdo {
 background-color: DarkSalmon;
}
.a-btn.cdbw {
 background-color: Sienna;
}
.a-btn.cdb {
 background-color: SteelBlue;
}
.a-btn.cdg {
 background-color: OliveDrab;
}